.THIS{
    
}

.THIS .customTypo {
    font-size: 38pt;
    color: #fff;
    text-align: center;
    padding-top: 14pt;
}
.THIS .head{
    color: #fff;
    text-align: center;
    font-weight: 300;
    padding-top: 5pt;
}

.THIS .foot{
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-top: 6pt;
}
.THIS .turquoise{
background: #1abc9c; 
}

.THIS .carrot{
background: #e67e22; 
}

.THIS .emerald{
background: #2ecc71; 
}

.THIS .alizarin{
background: #e74c3c; 
}

.THIS .sunflower{
background: #f1c40f; 
}

.THIS .river{
background: #3498db; 
}

.THIS .midnight{
background: #2c3e50; 
}

.THIS .Card{
    position : relative;
	height: 150px;
	width: 250px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);  
}